RLRLRLRLLRRRLRRLRLR..LL...RLLRLLRLRLRLRRLLRL
LRRRRLL.LRLLLLRLRL
.LRLRLLLLRLRLRLRRR.LRLR.LRR.LLLRLRRLLRL.RLRLRLRLR.LRLRLLRLRLRRRLRLL
RRLLRLRLRR.RRLLRRLRLRLLRRLRRL.LRLRL.LRRL.RL.RLRL
LRLRRL.L.LRL
RRLLLRLRR.RLRRLRLRLRLRRLR.RLRLRLLLRLLR.
RLRLR.LRLRRRR.LRRLRRLR.LRL.RLRRRLLRLR.LRLR.L.LLR
RLRLL
RLRR.LRRRLLRLRRLRRLRLRLLRRL
RLRLLRLRLRLRLRR.RLR.RLLRLL.RRLR
..RLRLLRRLRRRR.RLLRLRL..R.RLLR.RL
LLRLRLLLRLLRRLRRLLRLLLRRLR
LLRLRLR.RLRR.RLLRLRLLRR.LRLRLRR.RLR.LRRL..LRL..RLR..LR
RRLRRLRRLRRLRLLRLR.RLRL.LLRLRRLL
R.LRLLRLLLL.LRLLRLRRRLRRRRLLLRRLLLLRLRRRLRLRLLLRRLRLRLRLLRLRLLRLLRL
RL.RR.L.RLR.RLRRLRLLRLLRLRRRRLLLLRRRLLRRLLRLRLRLRLRLRL.LLRR..R...RL
LRL.LRLRLRLRLRLRRLR.LRLLRLLRLLRLRRRLRLLRLRLRLRLRL.RLRLRLR.LRL..L.RR
.LR.RLLLRLRRLRLRLRRL.LRLRRRLRLRLRL.L.L.LRLRLRLLLRRRLLLLRLRLRR
RLLRLRLR.LRL.RLRLRLLLRLRLLRLRLR.R
RLRRRL.RLRLRLLRRLRLR.LRR
RLLRRLR.R.LRRRLRLRR
LLR.LRLRL.R.LRRL.LRRLL.RLRL...LRLRLRLRLLRRLRL.LRLLLRRR
RR.RLRLRLR
RLRRLRRRLLRLRL.LRRLRRLRLRLRLRRLRLRRRL
.RLL.RLRRLRLLRLLRLL.LRLL.RLRRLRRRLRLLRLLLRLLRL.LRLRLLRLLR
.L.RRLLLRLRR.RRLRLRL.LLRRRLLR.
.LRLLRLLLL.LRLRLLLRL.RLRLRLLLRRLLRL.RRRLRLLLRLRL.RR.LRL.RR
LRRRR.LRLRLR.RLL.RLLR.LRLRLRLLRLRLRRLRRLRRRL.LR.LRLR.RLRLRL
L.LR.RRLLRRRLLLLRLRLLL.LRL.RLRRLLR.LLR.RLR.LRLRLRRLRLRLRRLLRRL.
.R.RLLRLLL.RLRRRRLLLRLRL.L..RRLRRLRLL.RLRLRRRL.LRRL.RLRLRL.L.
LRLRL.RLRRLL.LRLRLRLLRRLRLRRLRLLLLRRRLR.R.RRLRLLL.LR
RR.R.RLRLRLRLRLLRRLRLRLRRRLLRR.LR.RL..LRLLRLRR.LL.RLLR.R
LRLLLRL.LLR.L.RRLRRLRLLRLL
RL.R.LL.LR.RR.LRL.RLR.RLR..RLRLRLLRLR.RLR.R.RLRLRRLLLRLRRLRLRLL
RLRLRRRLRLRLRLLLRRLLL
.LRLR..RLRRL.RLRRRRRLLRLLRRLRLRRLR.LRL.LRLRRLR.RLRRLLR.LLLLRLRL.LRLR
RLRLL.LLRLLRL..LR.RR.LRL
RLRR.RRLRRLRLRLRLR
RLRLRLLRLRLRRLLRLRLRLRLLLLRLRLRL
RR.RLRL.LRLRL.LRLRLRLRLLRLRLR.RLR.LRLL.LRLR.LLRL.LLRRL..LRLRLRR
LRLLRLRR.RLRL.
L.LRLRL..LRLRLLRR..LRLRLRLRLLLLRLR.LLRLLRRLRLRLRL.L.
..R.RLRLRLR.RLLRLLL.RRRLR.RRR.LRLLLLRRRLLLRLL.LRRLRRLRL
RRRL.LRLLRRRRRLRLRLRLRLRRRL.RLLLRLRRRLRLLRRRLLRLRLLRRL.LRRL
RL
RLRLRLLRLLR
LLLRLLLLLRLRLRLRLLRLRR.LLLRLLRLLRLLRRRRRLLRRLLR.L.LR.LRLRLR
LLLRRRLRLRL.LRL.RLRR
RL.LRRRLRLRL.R.RLRLLRLR.RLRLRR.RLRRRLLRR.LLRLLLRLLRLRLRL.RL.RRRLRLR
RLRRLLLLLRLLR
.RLLRL.LRLRLRRLLRRLRLRRRLLRLRLRLL.LRRRLRLLLLLRLLR.LLRLRRLLRR
LRRL.LLRR.LR.LRRLR.LLRLL.LR.RRLR
LRLRLRRLL.RLRL
.LRRLRLRLRR..R.RLRLRLRLL.L.RLRRLRL.L.RLRL..LRLRR.R.RLLRLR
R
..LLRLLLRLLRRLLLRLRRLLRLRLRRLLRLRRLRLLRLLLLLRRLRRLRL
RLRLRLR..RRLLLLLRLRL
..LRLLL.LRLRLLRLLRLRLLRLRLRLRLRRLRRRLRLLRLLRLRLL.LRLRL.RLRLR..LRLLRLRL
LRLRLRRRLRL.LR.RLRLRRLRLRLR.LR.RRLLRRLL
RLLR
LRLLRRLLR.RLRLRLRRLRRRLRLR.RLLRRL.LRLLLR.RLRLRLLLLRLRRLLRLLLRLLRLR
LRLR.RRLRLLRLRL.RL.LLLRLRRRLRLLRLRLR.RRRLRLRLLLLRR
LLRLR.LRRRLRLR.RLRLRLLR.RLRRLRRLRLLR.RRLRLLLLRLRLRLLRRLLRL.LRL
LRLRRRLRRRLRLRRLRLLRRRRLRL.RLRLLRRLRRLLRL
.LRLRLRL.R.LRLRRR.L.RLR.LRLRRLRRRL.LRRLRLLR.RLRRRL.LLL..RLRLRLRLRLRL
RLRLRRLLRL.LRLLRLLRLRLLRLRLLRLRLRRLLLRLRLLRRLLR..RLL.LRLLRLRLRLRLLR.RL
.RRLRRLLLRRRLRRLRLLL.RL.LRLLLRLLRRLRLR.LRLLRLRLRLRRLLRL
LRLRRLRRLR.RLLLRRRLRRLRLLRLRLRLLLRLLRL.LLRL.R
LRLRLRLLLRLR.R.RLRLRLLL..RRLRLRRL
RLRLRLRRLRLLRLRLRRLRLR
RLLRRLLLR.RRL.LLRLRLRR.RRL.RLLRL.LRLRLLR
RLRR..LRLRRLRRLRLRRLRR..LRRL.RRRLRL.RRLRL
RLRRRR.LRLRLL.LLRLLRLR.RRLRRLLRLRLLLRLRLRLR
RL.RRL.RRRL.LRRL.RLRRLLRR.LRLRRL.LLRLLRLRL.LRLLRRL.R...
R
RLRLRLRLRLRLL.RLRL.R.LL
RLR.LLRRLRL
RLR.LRR.RRLLRRLRLR
RLLRLLRLRRLRLLR.LRL.LRRLRLRLRLR.LRLRLLRLLRRLRLRLLRRR
RLR.LRLRLLRLRLLRLRLLRLLRLRRLRRRLR.RL.RLRRLRLRLRLRLLRL.RLRLRLRL.
RLLLRLRLRLLLRLLR..RLLRLRLRLR.LRLRLR.RLRLRLLRLRL
LRRLLRRRLR.LRLRLRLR..RLRLRLRRLRRLRLR.RLLRRRRRLL
RLRRLRL.RLLRLRLRRLLRLRL
.RLRLRRLR.RLRLRRLR.RLLRRRLRLLRLRL.RLRR.RLL.RLRL.RLRLLRLRLLRLLRLRLR
.RLLR...RLRLRRLRRLR..RRLRLLL.LLRRLRLLRLRLRLRRLRR.RLRRLLRRRLR
LRLRLR.
RLRLRLLLLLRR.LR.RLRRLRLRLRLLLLRLLRLLLRRRR.RLRL.LLR.RLLRR
RRLRLLLRLRLRLLRL.RLRRRLR.RLRLLLR.LRLRLRR.R.LLRLRLRLRL.LRRL.LLRRLR
.R.L.LRLRL..LRRLL..RLLL.RLLR
LR.LRR..RLRLRLLRRL.LRLRLRLLRRLRRLLR.RRR.LRLRLRR.RLRLRL.RLRRRLR
LRLRLRLRLRRRLLRLRR.LRRLLLRLRRLRRLRLRRLLR.RLR
LRRRLLLRRRLRRLLRRL.LLLRRLL.LRLRLRLRR.RRRLRLRRLRLR.LRL
LRLLRRLRLLRLRLRRRLLLLRLLLLRLR.LL.RLRRR..LRRR.RRL.LL.LR
RR
LRRLRRLLLLRRLLRLLRLLRLRRLRRLLRRLRLLR.LRLLRLRRLRR.LRLL
RRRR.RRLR.LRLRLRLRLRL.LLLRLRLRLLLRLR.LRLRLRLLR.LRLR.RRLRLLLR
RLRL.LRRLRLRLLLRLRLRL.LRLLR.R.RL..RRLRLRR.RLRLLRRLL.LLLRRLRLR
.LRRLRLLLR..LLR..LLLRLRLRRLRLLRLR
LRLRLRLLRLRLLRL
LRRLRL.RRLLLL.LRLRRLRLRLR.RLRLR..RLRRRLR..LR..RRLLRRLRRLRLLRLL
LRLRLLLLRLRLRRRRLLRRLRLRL...R...LLLLRRRR
.
R
......................................................................
L....................................................................L
R....................................................................R
RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRLR
LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLRL
LRLRLRLRLRLRLRRLRLR..RRLRLRRLLLRLRL.RLLRLR..LRLRLRRLRLRLRLRLRL.RLLRLRL
RLRLRLRLRLRLRLLRLRL..LLRLRLLRRRLRLR.LRRLRL..RLRLRLLRLRLRLRLRLR.LRRLRLR
.L.L.L.R.R.R.L.L.L.R.R.R.L.L.L.R.R.R.L.L.L.R.R.R.L.L.L.R.R.R.L.L.L.R.R
RLLR
RLRLR
.LRLRL
LRL.LRLLR
LRL.LRLRLR
LRL.L.RLRLR
LRLRLRLRLR
LRL...LRRL
LRL.LRLRLRL
LRL.LR.LRLRL
RLRLRLRLRLR
LRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLLLLLL
RLR.RLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLLRLRLRLRLRLRLRLRLLRLRLRLRLRLRLRL
LRLRLRLRLRLRLRLRLRLRLLRLRLRLRLRLLRLRLRLRLRLRLRRLRLRLRLRLRLRLRLLR.R
R.RLR.RLRLL...RLLRLRLRLRRLRLRLLRLLRRLRLLRLLRLRLLRLRLRLRLLRLRLRLRLRRLRL
RLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLRLLRLRLRLRLRLRLR
L...RLR.R...LRL.L.R.RLR.R.L.RLR.RLR.LRL.LRL.LRL.LRL.RLR.RLR.LRL.RLR.LR
R..RLRLRL.R.L.R.L.LRLRLRL.LRL.LRL..LRLRLR.L.R.L.R.RLRLRLR
.R.LRL.LRLRLRLRLRLRLRLRLRRLRRLRRLRRLRL.LRLRLRLRLRLRLRLRLRRLRRLRRLRRLRL
LLRRLLRLRLRRLRLRLRLRLRLRLRLRLRLRLLRRLLRLRLRLRLR.LRLRLRLRLR
RLR.LR.LR.R.RL.RL.L.LR.RL.L.LRL.RLRLRL.RL.L.LR.LR.R.RL.LR.R.RLR.LRLRLR
.LR.R.RL.RL.L.LR.RL.L.LRL.RLRLRL.RL.L.LR.LR.R.RL.LR.L.RLRLRLRLRRRRRRRR
R.L.L.L.L.LR.RL.L.L.R.R.RLRLR.L.R.R.L.L.L.LR.RL.R.L.L.L.R.......
R.R.L.L.L.RL.LR.L.L.L.R.LRLRL.R.L.L.L.R.R.RL.LR.L.L.L.R.R.......
RLR.L.RL.L.RL.L.LRL.R.LR.R.LR.R.RLR.R.RL.LR.R.R.RL.L.L.LR.......
RRLRLLR.RLRLRLR.LRLRRLR.RLRLLRL.LRLLRLR.RLRRLRL.LRLRLRRLRLRLRLL.LRLRLR
LRLRLRLRLRLRLRLRLRLRLRLRRLRLRLRLRLRLRLRLLRLRLRLRLRLRLRLRLLRLRLRLRLRLRL
LRLRLRLRLRLRLRLRRLRLRLRLRLRLRLRLRLRLRLRLRLRRLRLRLRLRLRLRLR
