6.71
WWWSSSSSSSEEE
SNNENENNNNNWWS

6.71
NWWWSSSSSSSSEEE
EENNNNNNNNSSWW

19.80
EWEWEWEWEWEWEWEWEWEWEWEWEWEWNNNNNNNNNNNNNNEEEEEEEEEEEEEEENNNNNNNNNNNNNNNWWWWWWWWWWWWWWW
WWWWWWWWWWWWWWSSSSSSSSSSSSSSSEEEESESSSSSSSSSSSSEEEEEEEEES

13.45
NNSSEEEESSEEENENESEESSSWSSESSSSSWWSSS
SSSWWSSWWSWEWNNNWWNWWWNWWNWWWNNNENNNEN

5.66
SNSSSSSSSSSSSSNNNNNSNNNNNNNNSNSNSNWWSWSWWWW
WSSSESSSSSSEEEENNNNENNNNEENNNNNNENEEEENNNNEE

14.21
NNNSSSWSSSWWWNWWWWWWSSSWSWSSSSSWWWWWWSSNSESSNSSESSNSNNSNNNSNSWWWWNWNNENNEEEEEENENNN
NNNWNSWNWNWWNNWWNWWWSNSNSWNNSNSEENNNWESESEEEESEEESEEENENNNEEESSSEEEEESEENNNNNEEWSS

6.71
SSSSNSSNENENNEEEESEEEESE
NSWWWWWWWWWWWWWSWWWWWWWN

9.06
SSSWSWWWSSESSESSWWNSNSNSNSNSNSNSNWSNSEEENNEEENEENEEENEENNENEEEEEE
ESSNSNNNNSSSSNSNNNNNNNNNNNNNNNNNWWNNNENESNSNSNSNSNSNSNSNSNSNSNSS

3.00
SNSEEEEN
SSSS

4.00
EEEE
W

4.12
EEEE
EWW

1.41
E
W

0.00
NEEN
SEES

1.00
WWS
EES

2.83
EEEEEE
EESSNNWWW
